.app-font {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.bitter {
  font-family: 'Bitter', serif !important;
}

.bebas {
  font-family: 'Bebas Neue', cursive !important;
}

.prose {
  color: rgba(0, 0, 0, 0.8);
}

.dark .dark\:prose-dark {
  color: #d4d4d4;
}
